# Dependencias
node_modules/

# Entornos Virtuales
.venv/
venv/
env/

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Logs y Archivos Temporales
*.log
.temp/
.tmp/

# Capacitor / Build
www/
android/
ios/
dist/
.gradle/
capacitor-cordova-android/
